<router-outlet></router-outlet>
<!-- 
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="assets/img/logo_fmf.png"
  />
  <span>Evaluación Desarrollador Jr.</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div fxLayout="column">
    <div fxFlex="100">
      <strong>Bienvenido a tu prueba de Desarrollador Jr. de la Federación Mexicana de Fútbol.</strong>
    </div>
    <div fxFlex="100" class="pt-10">
      Estas son las actividades que debes realizar:
    </div>
    <div fxFlex="100" class="pt-10">
      <ol>
        <li>
          Utilizar Angular 7 o superior.
        </li>
        <li>
          Instalar la librería ng-wizard <a href="https://www.npmjs.com/package/ng-wizard" target="_blank">https://www.npmjs.com/package/ng-wizard</a> para crear un componente por pasos.
        </li>
        <li>
          En el <strong>primer paso</strong> debes mostrar un formulario de datos generales con la siguiente información:
          <div fxLayout="column">
            <div fxFlex="100" class="pt-10">
              <ul>
                <li>Nombre</li>
                <li>Apellido Paterno</li>
                <li>Apellido Materno</li>
                <li>Fecha de Nacimiento (Con un campo de selección de fecha)</li>
                <li>Género *</li>
                <li>Nacionalidad *</li>
                <li>Club de Fútbol *</li>
                <li>R.F.C. **</li>
                <li>Ocupación</li>
                <li>Botón para enviar información</li>
              </ul>
            </div>
            
            <div fxFlex="100" class="pt-10">
              * Estas opciones deben alimentarse de manera dinámica utilizando los <strong>JSON</strong> que se encuentran en la carpeta <strong>"data"</strong>, también se requiere crear los modelos de datos y guardarlos en la carpeta <strong>"models"</strong>
            </div>
            <div fxFlex="100" class="pt-10">
              ** Este campo solo debe aparecer si el registro que se captura es de alguien mayor a 18 años, en caso que lo sea, validar la estructura del R.F.C. antes de enviar la información
            </div>
          </div>
        </li>
        <li>
          <div fxLayout="column">
            <div fxFlex="100">
              Utilizando la información capturada en el formulario, dentro del <strong>paso dos</strong> mostrar una ficha similar a la siguiente (<strong>Se tomará en cuenta el diseño implementado</strong>):
            </div>
            <div fxFlex="100">
              <img src="assets/img/id-example.png">
            </div>
          </div>
        </li>
        <li>
          Instalar la librería <a href="https://www.npmjs.com/package/jspdf" target="_blank">https://www.npmjs.com/package/jspdf</a> para crear PDF.
        </li>
        <li>
          En el <strong>tercer paso</strong> del componente, desplegar la misma información del formulario del <strong>primer paso</strong> en un PDF.
        </li>
        <li>
          Una vez hayas concluido tu evaluación, debes subirlo a tu propio repositorio de <strong>GitHub</strong> o <strong>GitLab</strong> y enviar el link para su revisión.
        </li>
      </ol>
    </div>
    
  </div>
  
</div>

<a [routerLink]="['/Formulario1']" class="">Ir al fromulario!</a>



<ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
  
  <ng-wizard-step [title]="'Step 1'" [description]="'Step 1 description'"
    [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
    <span>Step 1 content</span>
  </ng-wizard-step>
  
  <ng-wizard-step [title]="'Step 2'" [description]="'Step 2 description'" [state]="stepStates.disabled">
    <span>Step 2 content</span>
  </ng-wizard-step>
  
  <ng-wizard-step [title]="'Step 3'" [description]="'Step 3 description'"
    [canEnter]="isValidFunctionReturnsObservable.bind(this)" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
    <span>Step 3 content</span>
  </ng-wizard-step>
 
<ng-wizard-step [title]="'Step 4'" [description]="'Step 4 description'">
    <span>Step 4 content</span>
  </ng-wizard-step>
 
  <ng-wizard-step [title]="'Step 5'" [description]="'Step 5 description'" [state]="stepStates.hidden">
    <span>Step 5 content</span>
  </ng-wizard-step>
  
  <ng-wizard-step [title]="'Step 6'" [description]="'Step 6 description'" [state]="stepStates.error">
    <span>Step 6 content</span>
  </ng-wizard-step>
  
  <ng-wizard-step [title]="'Step 7'" [description]="'Step 7 description'">
    <span>Step 7 content</span>
  </ng-wizard-step>
</ng-wizard> -->
