<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo" src="assets/img/logo_fmf.png" />
    <span>Formulario</span>
    <div class="spacer"></div>
</div>

<ng-wizard [config]="config" (stepChanged)="stepChanged($event)">

    <ng-wizard-step [title]="'Informacion Personal'" [description]="'Step 1 description'"
        [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
       


        <div class="formulario-1">
            <h1>Información Personal</h1>
            <form class="example-form" [formGroup]="form" novalidate  (ngSubmit)="onSubmit()" #f="ngForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" placeholder="Nombre"  ngModel required>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput formControlName="apellidoP" placeholder="Ex. Rodriguez"  ngModel required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput formControlName="apellidoM" placeholder="Ex. Garcia"  ngModel required>
                </mat-form-field>
                <h3>Selecciona tu fecha de Nacimiento</h3>
                <mat-form-field class="example-full-width">
                    <input #startDate matInput ngModel formControlName="nacimient" [matDatepicker]="picker"
                        (dateInput)="first($event.value.format('YYYY-MM-D'))" placeholder="M/D/YYYY" ngModel required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Selecionar Club</mat-label>
                    <mat-select ngModel matInput formControlName="club" required>
                        <mat-option *ngFor="let club of clubes" value="{{club.nombre}}">{{club.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Selecionar Genero</mat-label>
                    <mat-select ngModel matInput formControlName="genero" required>
                        <mat-option *ngFor="let genero of generos" value="{{genero.nombre}}">{{genero.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Selecionar Nacionalidad</mat-label>
                    <mat-select ngModel matInput formControlName="nacionalidad" required>
                        <mat-option *ngFor="let nacionalidad of nacionalidades" value="{{nacionalidad.nombre}}">
                            {{nacionalidad.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <span *ngIf="year - nacimiento  >= 18">                 
                        <mat-form-field>
                            <mat-label>RFC</mat-label>
                            <input matInput [type]="'text'" name="rfc" formControlName="rfc" required>
                            <mat-error *ngIf="rfc.invalid">{{getErrorRfc()}}</mat-error>
                        </mat-form-field>                
                </span>
                <br>
                <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary">Cargar Datos</button>
            </form>

        </div>



    </ng-wizard-step>

    <ng-wizard-step [title]="'Step 2'" [description]="'Credencial de Usuario'" [state]="stepStates.normal">




        <div class="cardFather">
            <div class="cardContent">
                <div class="datos">
                <p>Nombre: {{form.value.nombre}}</p>
                <p>Apellidos: {{form.value.apellidoP}} {{form.value.apellidoM}}</p>
                <p>Fecha de Nacimiento: {{form.value.nacimient._i}}</p>
                <p>Club: {{form.value.club}}</p>
                <p>Genero: {{form.value.genero}}</p>
                <p>Nacionalidad: {{form.value.nacionalidad}}</p>
                <p *ngIf="form.value.rfc ">RFC: {{form.value.rfc}}</p>                 
            </div>
                <div class="photo-cover">

                </div>
                
            </div>                   
        </div>

    </ng-wizard-step>

    <ng-wizard-step [title]="'Step 3'" [description]="'Step 3 description'"
        [canEnter]="isValidFunctionReturnsObservable.bind(this)" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
   
        
        <div class="cardFather" id="htmlData">
            <div class="cardContent">
                <div class="datos">
                <h1>Tarjeta de Miembro de Club!</h1>
                <p>Nombre: {{form.value.nombre}}</p>
                <p>Apellidos: {{form.value.apellidoP}} {{form.value.apellidoM}}</p>
                <p>Fecha de Nacimiento: {{form.value.nacimient._i}}</p>
                <p>Club: {{form.value.club}}</p>
                <p>Genero: {{form.value.genero}}</p>
                <p>Nacionalidad: {{form.value.nacionalidad}}</p>
                <p *ngIf="form.value.rfc ">RFC: {{form.value.rfc}}</p>                   
            </div>
                <div class="photo-cover">

                </div>
                
            </div> 

        </div>
        <button mat-raised-button color="primary" (click)="downloadPDF()">Descargar PDF</button>

    </ng-wizard-step>

    
</ng-wizard>